body {
  background-color: #242424;
  margin: 0px;
  font-family: Cormorant, serif ;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0vh;
  color: #fff;


}
.page {
    border: 1px solid #fff;
}
.wrapper {
  width: 1440px;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;

}

.header {
  width: 1440px;
  height: 1140px;
  position: relative;
  background-color: black;
}

.header-bg {
  width: 1440px;
  height: 800px;
  background-image: url('./img/header.jpeg');
  background-size: cover;
  background-position: center;
  border: 1px solid #fff;
}

.header-button {
  position: absolute;
  font-family: Cormorant, serif;
  color: #fff;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 100px;
  font-size: 32px;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none; /* Убираем подчеркивание ссылки */
  display: flex; /* Делаем кнопку блочным элементом */
  line-height: 100px; /* Центрируем текст по вертикали */
  justify-content: center;
  align-items: center;
}

.header-logo {
  position: absolute;
  top: 790px;
  left:80px;
  transform: translateY(-50%);
  width: 650px;
  height: 200px;
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 2040px;
  background-color: black;
}

.content-block {
  width: 1260px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.content-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 30px;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 760px;
  padding-right: 100px;
}

.content-text {
  font-family: Cormorant, serif;
  color: #fff;
  width: 660px;
  height: 505px;
  display: 240px;
  flex-direction: column;
  justify-content: space-between;
  text-align: left; 
}

.content-title {
  font-size: 42px;
  margin: 0px;
  margin-bottom: 20px;
}

.content-description {
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
}

.content-button2 {
  position: absolute;
  font-family: Cormorant, serif;
  color: #fff;
  margin-top: 120px;
  margin-left: 250px;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 100px;
  font-size: 32px;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none; /* Убираем подчеркивание ссылки */
  display: flex; /* Делаем кнопку блочным элементом */
  line-height: 100px; /* Центрируем текст по вертикали */
  justify-content: center;
  align-items: center;
}
.content-button {
  width: 500px;
  height: 100px;
  font-family: Cormorant, serif;
  color: #fff;
  font-size: 32px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 100px;
  margin-top: 130px;
}

.content-block1 {
  width: 1260px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-direction: row-reverse; /* меняем направление на обратное */
}

.content-image1 {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 30px;
}

.content-right1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 760px;
  padding-right: 100px; /* меняем отступ на правый */
}

.content-text1 {
  font-family: Cormorant, serif;
  color: #fff;
  width: 660px;
  height: 505px;
    display: 240px;
  flex-direction: column;
  justify-content: space-between;
  text-align: left; 
}

.content-title1 {
  font-size: 42px;
  margin: 0px;
  margin-bottom: 20px;
}

.content-description1 {
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
}

.content-button1 {
  position: absolute;
  font-family: Cormorant, serif;
  color: #fff;
  margin-top: 180px;
  margin-left: 250px;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 100px;
  font-size: 32px;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none; /* Убираем подчеркивание ссылки */
  display: flex; /* Делаем кнопку блочным элементом */
  line-height: 100px; /* Центрируем текст по вертикали */
  justify-content: center;
  align-items: center;
}
  


.footer {
	width:100%;
	height : 100px;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	outline: 1px  solid #fff;
	background-color: #000;

  }
  
  .footer-text {
	font-family: 'Cormorant', normal;
	color: #fff;
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
  }
